/* @import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  src: url("/fonts/CursedTimerUlil-Aznm.ttf");
}

.score,
button {
  font-family: "Cursed Timer ULiL", sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 576px;
  flex-direction: row;
  margin: 50px auto;
  background-color: #1b244a;
  height: 385px;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 20px;
}

.score {
  line-height: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 60px;
  width: 150px;
  height: 150px;
  background-color: #080001;
  border-radius: 5px;
  color: #f94f6d;
}

.btn {
  display: flex;
  gap: 10px;
  padding: 15px 0px 0px;
  justify-content: space-between;
}

button {
  padding: 10px;
  background: #1b244a;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  color: #9aabd8;
  font-size: 18px;
}
